/*

Accent Color: #1abc9c;
Black: #2c3e50;
Gray: #7f8c8d;

*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.prodCard {

    width: 300px;
    height: 400px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #2c3e50;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 12px -1px rgba(0,0,0,0.17);
    -moz-box-shadow: 2px 2px 12px -1px rgba(0,0,0,0.17);
    box-shadow: 2px 2px 12px -1px rgba(0,0,0,0.17);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;

    margin: 100px; /*remove this*/

}

.prodCard:hover {

    -webkit-box-shadow: 6px 6px 31px 3px rgba(0,0,0,0.17);
    -moz-box-shadow: 6px 6px 31px 3px rgba(0,0,0,0.17);
    box-shadow: 6px 6px 31px 3px rgba(0,0,0,0.17);
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;

}

.listCol {
    width: 80%;
    display: inline-block;
    vertical-align: top;
}
.priceCol {
    width: 15%;
    display: inline-block;
}

.coverImgContainer {

    width: inherit;
    height: 50%;
    overflow: hidden;
    text-align: center;

}

.coverImg {

    width: inherit;
    height: auto;

}

.prodDetails {

    padding: 25px;

}

.prodTitle {
    font-weight: 600;
    font-size: 20px;
}

.prodDesc {

    font-size: 13px;
    color: #7f8c8d;

}

.prodPrice {
    font-weight: 700;
    color: #1abc9c;
    font-size: 20px;
    margin-right: 15px;
}

.prodSubTitle {

    font-size: 13px;
    font-weight: 700;
    padding: 10px 0px 5px 0px;

}

.prodSubDetail {

    font-size: 12px;
    color: #7f8c8d;

}

.clrList {
    list-style: none;
}

.clrList .clr {
    border-radius: 50%;
    background-color: #000;
    width: 15px;
    height: 15px;
    display: inline-block;
}